@import "tailwindcss";

@theme {
  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-primary: var(--color-indigo-600);
  --color-primary-hover: var(--color-indigo-500);
  --color-primary-active: var(--color-indigo-400);

  --color-muted: var(--color-gray-400);
  --color-muted-foreground: hsl(--color-gray-100);
}

@layer base {
  html {
    @apply bg-background text-foreground;
  }
}

@utility btn {
  @apply px-4 py-2;
}

@utility btn-primary {
  @apply rounded-md transition-colors
  bg-primary hover:bg-primary-hover active:bg-primary-active
  text-white font-bold
  disabled:bg-muted disabled:text-muted-foreground not-disabled:cursor-pointer
  ;
}

@layer component {
  .tb-container {
    @apply w-full overflow-y-auto;
  }
  .tb {
    @apply w-full;
  }
  .tb thead tr {
    @apply border-b text-left;
  }
  .tb thead tr th {
    @apply px-3 py-2 text-sm text-muted-foreground;
  }
  .tb tbody tr {
    @apply border-b border-muted text-left [tbody_&]:last:border-none;
  }
  .tb tbody tr td {
    @apply px-3 py-3 text-sm;
  }
  .tb tbody tr:last-child {
    @apply border-transparent;
  }
}

@variant activated (&[activation="true"]);

@layer component {
  .vault {
    @apply fixed /* grid */ top-0 left-0 w-screen h-screen opacity-0
    overflow-auto
    vault-open:bg-black/40
    vault-open:opacity-100
    vault-open:transition-colors

    not-vault-open:pointer-events-none
    not-vault-open:transition
    ;

    overscroll-behavior: none;
    scroll-behavior: smooth;
    /* grid-template-rows: 20vh 1fr; */

    .body {
      @apply
        not-in-vault-open:translate-y-full
        relative
        transition-transform;
    }

  }
}

@variant vault-open (&.vault-open);


